<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <form action="/student-add-confirmation" method="POST">
        <label>First Name
            <input type="text" name="fname"></input>
        </label>
        <br/>
        <br/>
        <label>Last Name
            <input type="text" name="lname"></input>
        </label>
        <br/>
        <br/>
        <label> Github Account
        <input type="text" name="github"></input>
        </label>
        <br/>
        <br/>
        <input type="submit" value="submit"></input>
    </form>




</body>
</html>